.auth-form {
    width: 320px;
    margin: 6em auto;
}

.auth-form-control {
    margin-bottom: 20px !important;
}

.auth-form-logo {
    display: block;

    width: 220px;
    margin: 0 auto 3em;
}

